@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    
}

/* =========== header ============  */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color:mediumpurple;
     

}

header h2{
    font-size: 33px;
    letter-spacing: 2px;
    color: white;
    margin-left: 40px;

}

header span{
    color: blue;
    font-weight: bold;
}


header ul li{
    display: inline-block;
    padding: 0px 30px;
    list-style: none;
    
}

header ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    transition: 0.45s;
}

header ul li a:hover{
    color: rgb(136, 47, 224);
    border-bottom: 3px solid pink;
    
}

/* ========= home ================  */

.home{
    width: 100%;
    height: 92vh;
    background-image:  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url(img/marketing.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.home h1{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    padding: 15px 0px ;

}
.home p{
    font-size: 15px;
    color: white;
    padding: 10px 0px;

}

.home button{
    font-size: 19px;
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 3px 20px;
    border-radius: 20px;
    transition: 0.45s;
    cursor: pointer;

}

.home button:hover{
    transform: scale(1.1);
}

/* ==================== services ===================  */

.services h2{
    text-align: center;
    font-size: 34px;
    color: purple;
    letter-spacing: 2px;
    padding: 20px 0px;
}


.services .cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 60px;
    

}
.cards .card{
    width: 300px;
    height: 300px;
    background:linear-gradient(to right,purple , rgb(215, 58, 236) );
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;
    color: white;
    transition: all 0.45s;
    
}
 
.cards .card:hover{
    transform: translateY(-10px);
    box-shadow: 3px 4px 20px purple;
}

.cards .card h2{
    font-size: 23px;
    letter-spacing: 2px;
    padding: 18px 0px;
    color: white;
    
}

.cards .card p{
    margin-top: 10px;
}
.cards .card h3{
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 3px;
    
}


/* ======================== about ==================  */

.about h2{

        text-align: center;
        font-size: 34px;
        color: purple;
        letter-spacing: 2px;
        padding: 20px 0px;
        margin-top: 30px;
}

.about-us{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0px 150px;
    margin-top: 30px;

}
.about-us p{
    max-width: 500px;
    line-height: 40px;
    font-size: 19px;
    background-image: url(img/bg-text.jpg);
    padding: 10px;
    color: white;
    border-radius: 15px;
}

.contact {
    display: flex;
    flex-direction: column;
}
.contact a{
    margin: 20px 0px;
    text-decoration: none;
    font-size: 20px;
    background-color: purple;
    padding: 6px 12px;
    border-radius: 20px;
    color: white;
    text-align: center;
    transition: 0.45s;    
}

.contact a:hover{
    box-shadow: 2px 3px 15px purple;
}


/* ============ make responsive ===========  */

@media(max-width:850px){
    .links ul li a{
        font-size: 16px;
    }
}
@media(max-width:695px){
    .links ul li a{
        font-size: 14px;
    }
    .about-us p{
        min-width: 500px;
        font-size: 17px;
    }
}

@media (max-width:600px){
    .about-us p{
        min-width: 400px;
    }
    .links ul li a{
        font-size: 13px;
        
    }
    header h2{
        font-size: 26px;
    }
    header{
        padding: 10px 0px;
    }

    .home h1{
        font-size: 45px;
    }
    .home p{
        font-size: 15px;
        padding: 20px 0px;
        padding-bottom:20px ;
    }

}

@media(max-width:525px){
    .about-us p{
        min-width: 300px;
        font-size: 15px;
        
    }

    .links ul li{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 16px;
    }
}